
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.board:hover {
  background-color: purple;
  color: white
}