
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Neutrals */
  --black: #000112; 
  --white: #ffffff;


  --very-dark-grey: #20212C; /* dark mode BG color */
  --dark-grey: #2B2C37;
  --lines-dark: #3E3F4E; 
  --medium-grey: #828FA3;
  --lines-light: #E4EBFA; 
  --light-grey: #F4F7FD; /* light mode BG color */

  --background: #F4F7FD;
  --background-semi: #E4EBFA;
  --main-text-color: #2B2C37;
  --secondary-text-color: #828FA3;
  --lines-color: #E4EBFA;

  /* separate */
  --bg-white-hover: rgba(255, 255, 255, 0.4);
  --bg-black-hover: rgba(0, 0, 0, 0.2);

  /* Purples */
  --main-purple: #635FC7; 
  --main-purple-light: #8a84ff; 
  --main-purple-shadow: rgba(99, 95, 199, 0.1);

  /* Reds */
  --red: #EA5555; 
  --red-hover: #FF9898;
}

.dark {
  --background: #20212C;
  --background-semi: #2B2C37;
  --main-text-color: #F4F7FD;
  --secondary-text-color: #E4EBFA;
  --lines-color: #3E3F4E;
}

path {
  transition: all 200ms;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.interactable {
  transition: all 200ms;
}

.show-sidebar {
  transform: translateX(250px);
}

.board-item:hover .board-icon > path {
  stroke: var(--light-grey)
}

.show-sidebar + .main-section {
  min-width: 85%;
  width: 85%;
}

.add-board-icon > path {
  stroke: var(--main-purple)
}

.add-board-button:hover .add-board-icon > path {
  stroke: white;
}

.display-sidebar-button:hover .eye-icon > path {
  fill: var(--main-purple);
}