
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Neutrals */
  --black: #000112; 
  --white: #ffffff;

  --background: #F4F7FD;
  --background-semi: #E4EBFA;
  --main-text-color: #2B2C37;
  --secondary-text-color: #828FA3;
  --lines-color: #E4EBFA;
  --check-input-bg: rgba(99, 95, 199, 0.2);
  --secondary-purple: rgb(47, 47, 56);
  --bg-hover-shadow: rgba(99, 95, 199, 0.1);
  --icons-secondary-color: #8a84ff;

  /* separate */
  --bg-white-hover: rgba(255, 255, 255, 0.4);
  --bg-black-hover: rgba(0, 0, 0, 0.2);

  /* Purples */
  --main-purple: #635FC7; 
  --main-purple-light: #8a84ff; 
  --main-purple-shadow: rgba(99, 95, 199, 0.1);

  /* Reds */
  --red: #EA5555; 
  --red-hover: #FF9898;
}

.dark {
  --background: #20212C;
  --background-semi: #2B2C37;
  --main-text-color: #F4F7FD;
  --secondary-text-color: #828FA3;
  --lines-color: #3E3F4E;
  --check-input-bg: rgba(255, 255, 255, 0.1);
  --bg-hover-shadow: rgba(255, 255, 255, 0.4); 
  --icons-secondary-color: #ffffff;
}

path {
  transition: all 200ms;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.interactable {
  transition: all 200ms;
}

.show-sidebar {
  transform: translateX(250px);
}

.board-item:hover .board-icon > path {
  stroke: white
}

.show-sidebar + .main-section {
  min-width: calc(100% - 250px);
  width: calc(100% - 250px);
}

.add-board-icon > path {
  stroke: var(--main-purple)
}

.add-board-button:hover .add-board-icon > path {
  stroke: white;
}

.display-sidebar-button:hover .eye-icon > path {
  fill: var(--main-purple);
}

* {
  transition: all 300ms;
}

* ::-webkit-scrollbar {
  display: none;
}